body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
    margin: 80px auto;
    width: 90%;
    min-height:100%;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.logo {
    height: auto;
    width: 100%;
}
.logo img{
    height: auto;
    width: 100%;
}


    .topinfo {
        background-color: #ccffff;
        padding: 15px 10px;
    }

    .page {
        margin-top: 100px;
    }

    .blackBorder {
        border: 2px solid black;
    }

    .appointlogo img {
        height: auto;
        width: 40px;
    }

    .formappoint label {
        width: 200px;
    }

    html, body {
        height: 100%;
    }

    .page-wrap {
        min-height: 100%;
        /* equal to footer height */
        margin-bottom: -142px;
    }

        .page-wrap:after {
            content: "";
            display: block;
        }

        .site-footer, .page-wrap:after {
            height: 142px;
        }

    .site-footer {
        /*background: orange;*/
    }
.blackBorder {
    min-width:300px;
}

@media (max-width: 999px) {
    .logo img {
        height: auto;
        width: 30%;
    }
}