@model WebApplication1.Models.Appointment

@{
    ViewBag.Title = "SaveChanges";
}

<h2>SaveChanges</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
