@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<h3>What We Do</h3>

<p>In addition to offering traditional and established medical care services, Strong is distinguished with its tertiary and quaternary services. This means Strong has the personnel and facilities to provide advanced medical inquiry and treatments that are not widely accessible in this region.</p>

@*<h3>About Us</h3>*@
<p>Falmily Clinic- Whether a patient is coming in for a routine or a specialized procedure, they will always benefit from Strong’s unique ability to quickly implement the newest discoveries and advancements in medicine. A few of Strong’s many highly specialized services include:</p>
<ul>
    <li>Organ Transplant</li>
    <li>Trauma and Burn Care</li>
    <li> Neonatal Intensive Care Unit</li>
    <li>Comprehensive Neuromedicine</li>
    <li> Complex Cardiology</li>
    <li> Cancer Service</li>
</ul>
    
   
    
   
   

