@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Family Clinic<br />
    607 Pastuer Road<br />
    Thunder Bay, ON, P7B 5Y9<br />
  
    <abbr title="Phone"> Contact -</abbr>
    +1 (123)-(456)-(7890)
</address>

<address>
    <strong>For Support:</strong>   <a href="mailto:Support@familyclinic.com">Support@familyclinic.com</a><br />
    <strong>For More Information:</strong> <a href="mailto:Info@familyclinic.com">Info@familyclinic.com</a>
</address>