@{
    ViewBag.Title = "Home Page";
}

<div class="row page">
    <div class="col-lg-8"><img src="~/Images/Page1.PNG" alt="image" /></div>
    <div class="col-lg-4"><img src="~/Images/openinghours.PNG" alt="image" /></div>
    <a href="@Url.Action("index", "Appointment")" title="Appointment" class="logo">
        <div class="col-lg-4 blackBorder">
            <div class="col-md-3 appointlogo"><img src="~/Images/icons8-today-50.png" alt="img" /></div>
            <div class="col-md-9"><h4>Make an Appointment</h4></div>
        </div>
        </a>
</div>



<h2>Useful Links:</h2>
<div class="row">
    <div class="col-md-6">
        <h3>Hospitals and Medical Centers</h3>
        <ul>
            <li>This is an item</li>
            <li>This is an item</li>
            <li>This is an item</li>
            <li>This is an item</li>
            <li>This is an item</li>
            <li>This is an item</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Hospitals and Medical Centers</h3>
        <ul>
            <li>This is an item</li>
            <li>This is an item</li>
            <li>This is an item</li>
            <li>This is an item</li>
            <li>This is an item</li>
            <li>This is an item</li>
        </ul>
    </div>
    
</div>