@{
    ViewBag.Title = "Home Page";
}

<div class="row page">
    <div class="col-lg-8"><img src="~/Images/Page1.PNG" alt="image" /></div>
    <div class="col-lg-4"><img src="~/Images/openinghours.PNG" alt="image" /></div>
    <a href="@Url.Action("index", "Appointment")" title="Appointment" class="logo">
        <div class="col-lg-4 blackBorder">
            <div class="col-md-3 appointlogo"><img src="~/Images/icons8-today-50.png" alt="img" /></div>
            <div class="col-md-9"><h4>Make an Appointment</h4></div>
        </div>
        </a>
</div>



<h2>Useful Links:</h2>
<div class="row">
    <div class="col-md-6">
        <h3>General Information</h3>
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Allergy">Allergy Causes</a></li>
            <li><a href="https://www.aaaai.org/conditions-and-treatments/library/at-a-glance/prevention-of-allergies-and-asthma-in-children">Prevention of Allergies and Asthma in Children</a> </li>
            <li><a href="http://www.health.com/health/gallery/0,,20752945,00.html">20 Surprising Ways to Prevent Colds and Flu</a></li>
            <li><a href="http://www.cbc.ca/news/health/top-health-news-2017-1.4456639">Top health news of 2017</a></li>
           
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Health insurance information </h3>
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Canada_Health_Act">Canada Health Act</a></li>
            <li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/new-immigrants/new-life-canada/health-care-card.html">Getting a health card</a></li>
            <li><a href="https://www.internationalstudentinsurance.com/canada-student-insurance/">Canada International Student Insurance</a></li>
            
        </ul>
    </div>
    
</div>